<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>11</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>FelixTool</ProductName>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>Felix</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetCulture>en</TargetCulture>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-02-07T06:40:31.0760033Z;True|2023-02-07T11:45:21.9757874+08:00;True|2023-02-07T09:00:47.8442342+08:00;True|2023-02-01T16:34:54.3885180+08:00;True|2023-02-01T16:27:25.6469363+08:00;True|2023-01-30T16:26:16.9636516+08:00;True|2023-01-29T08:59:34.6264209+08:00;True|2023-01-17T14:19:01.4300150+08:00;False|2023-01-17T14:18:30.5500581+08:00;True|2023-01-17T10:03:38.0337689+08:00;True|2023-01-17T09:56:56.1368009+08:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>True</Install>
      <ProductName>.NET Desktop Runtime 6.0.4 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>